* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-img {
  background: url("/img/tourist.png") no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 100px;
}

header {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

nav {
  width: 100%;
}

.nav-link {
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
}

.nav-link:hover {
  color: darkgray;
}

.burger {
  background: url("/img/Menu.png");
  width: 42px;
  height: 42px;
  background-size: cover;
}

.arrow {
  background: url("/img/arrow.png");
  width: 42px;
  height: 42px;
  background-size: cover;
}

.enterprise_name {
  font-family: Montserrat !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 1rem !important;
}

.trips {
  font-family: Montserrat !important;
  font-style: normal;
  font-weight: normal;
  font-size: 40px !important;
  line-height: 78px;
  color: #000000;
  text-align: center;
}

.event_header {
  font-family: Californian FB !important;
  font-style: normal;
  font-weight: 400;
  font-size: 48px !important;
  line-height: 55px;
  color: #FFFFFF !important;
}

.event {
  display: flex;
  font-family: Californian FB !important;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF !important;
  justify-content: center;
}

.event_elements {
  text-align: center;
}

.line {
  border-left: 2px solid #FFFFFF;
  height: 65px;
  margin: 0 5px;
}

.join_button {
  width: 225px;
  background: #FF931E;
  border-radius: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  height: 55px;
  border: none;
  margin-top: 20px;
}

.join_button:hover {
  background: #FF6600;
}

.wrap {
  background: rgba(160, 160, 160, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

.wrap:hover {
  background: rgba(160, 160, 160, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  text-decoration: none;
}

.event_header_sec {
  font-family: Montserrat !important;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF !important;
  text-align: center;
}

.advantage_name {
  font-family: Montserrat !important;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.event_date {
  font-family: Californian FB !important;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
  text-align: center;
}

.advantages {
  width: 80px;
  height: 80px;
}

.box {
  position: relative;
  height: 100%;
}

.events {
  width: 100%;
}

.img__container {
  position: relative;
  margin: 20px auto 30px auto;
}

.img__container > img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 6px #9E9E9E;
  border: 4px solid #fff;
}

.img__description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.carousel-control-next-icon {
  background-image: url("/img/Button_right.svg") !important;
  width: 4rem !important;
  height: 4rem !important;
}

.carousel-control-prev-icon {
  background-image: url("/img/Button_left.svg") !important;
  width: 4rem !important;
  height: 4rem !important;
}

.name_enterprise {
  position: absolute;
  margin-left: 3%;
  margin-top: -13%;
  font-size: 1rem !important;
}

footer {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #177e1c;
}

li {
  margin-bottom: 20px;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.search-wrapper {
  width: 450px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
}

.search-wrapper input {
  width: 270px;
  height: 40px;
  padding: 10px 30px;
  float: left;
  border: 0;
  background: #fff;
  border-radius: 40px;
  border-top-style: none;
}

.search-wrapper input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
  font-weight: normal;
  font-style: italic;
  padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
  font-weight: normal;
  font-style: italic;
  border-style: none;
}

.search-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: 13px/40px "lucida sans", "trebuchet MS", "Tahoma";
  color: #fff;
  background: #ff931ecc;
  border-radius: 40px;
}

.search-wrapper button:active,
.search-wrapper button:focus {
  background: #198cff;
  outline: 0;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before {
  border-right-color: #c42f2f;
}

.search-wrapper button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}

@media (max-width: 1224px) {
  .display-none {
    display: none;
  }
}
@media (min-width: 1025px) {
  .make-end {
    text-align: end;
  }
}
@media (max-width: 1024px) {
  .space {
    display: none;
  }
}
@media (min-width: 768px) {
  .logo {
    background: url("/img/Logoleft.png");
    width: 80px;
    height: 55px;
    background-size: cover;
  }

  nav {
    background-color: rgba(160, 160, 160, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}
@media (max-width: 767.98px) {
  .navbar-collapse {
    background-color: rgba(160, 160, 160, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }

  .logo {
    background: url("/img/Logoright.png");
    width: 80px;
    height: 55px;
    background-size: cover;
  }

  .background-img {
    background: url("/img/female_hiker.png") no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    padding-top: 100px;
    border-radius: 0 0 40px 40px;
  }

  .events {
    display: none;
  }

  .closest_event_button {
    background: #177E1C;
    border-radius: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    height: 50px;
    border: none;
    margin-top: 20px;
  }

  .all_events_button {
    background: #177E1C;
    border-radius: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    height: 50px;
    border: none;
    margin-top: 20px;
  }

  .advantages {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 425px) {
  .advantages {
    width: 50px;
    height: 50px;
  }

  h5 {
    font-size: 12px;
  }
}
